<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
  <body>
    <div id = "coverLeft"></div>
    <div class = "cover">
      <img src="/assets/img/cover.png" id = "coverPic">
    </div>
    <div class="navbar">
      <a href="#home">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Company 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <input type="checkbox" value = 1 id="cType1">
          <label for="mType1">Honda</label><br>
          <input type="checkbox" value = 2 id="cType2">
          <label for="cType2">Toyota</label><br>
          <input type="checkbox" value = 3 id="cType3">
          <label for="cType3">Suzuki</label><br>

        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">Model 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <input type="checkbox" value = 1 id="mType1">
          <label for="mType1">2000 - 2010</label><br>
          <input type="checkbox" value = 2 id="mType2">
          <label for="mType2">2011 - 2015</label><br>
          <input type="checkbox" value = 3 id="mType3">
          <label for="mType3">2016 - 2022</label><br>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Engine 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <input type="checkbox" value = 1 id="eType1">
          <label for="eType1">660CC - 1000CC</label><br>
          <input type="checkbox" value = 2 id="eType2">
          <label for="eType2">1300CC - 1800CC</label><br>
          <input type="checkbox" value = 3 id="eType3">
          <label for="eType3">1800 CC +</label><br>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">Transmission
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <input type="checkbox" value = 1 id="tType1">
          <label for="tType1">Automatic</label><br>
          <input type="checkbox" value = 2 id="tType2">
          <label for="tType1">Manual</label><br>
        </div>
      </div>  
    </div>
  </body>
</html>